<config>
    <modules>
        <Ccc_Product>    
            <version>1.0.0</version>
        </Ccc_Product>
    </modules>
    <frontend>
        <layout>
            <updates>
                <Product module="Ccc_Product">
                    <file>Ccc_Product.xml</file>
                </Product>
            </updates>
        </layout>
    </frontend>
    <global>

        <models>
            <product>
                <class>Ccc_Product_Model</class>
                <resourceModel>product_resource</resourceModel>
            </product>
            <product_resource>
                <class>Ccc_Product_Model_Resource</class>
                <deprecatedNode>product_mysql4</deprecatedNode>
                <entities>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </product_resource>
        </models>
        <blocks>
            <product>
                <class>Ccc_Product_Block</class>
            </product>
            <!-- <product>
                <rewrite>
                    <adminhtml_product>Ccc_Product_Block_Adminhtml_New</adminhtml_product>
                </rewrite>
            </product> -->
        </blocks>
        <helpers>
            <product>
                <class>Ccc_product_Helper</class>
            </product>
            <!-- <product>
                <rewrite>
                    <data>Ccc_Product_Helper_Product_Data</data>
                </rewrite>
            </product> -->
        </helpers>
        <events>
            <cms_page_prepare_save>
                <observers>
                    <Ccc_Product_Model_Observer>
                        <type>singleton</type>
                        <class>product/observer</class>
                        <method>customObserver</method>
                    </Ccc_Product_Model_Observer>
                </observers>
            </cms_page_prepare_save>
        </events>
    </global>
    <admin>
        <routers>
            <Product>
                <use>admin</use>
                <args>
                    <!-- <modules>
                        <Ccc_Product before="Ccc_Product">Ccc_Salesman</Ccc_Product>
                    </modules> -->
                    <module>Ccc_Product</module>
                    <frontName>product</frontName>
                </args>
            </Product>
        </routers>
         <layout>
            <updates>
                <product>
                    <file>product.xml</file>
                </product>
            </updates>
        </layout>
    </admin>
</config>