<config>
    <modules>
        <Hp_Brand>    
            <version>1.0.1</version>
        </Hp_Brand>
    </modules>
    <frontend>
    </frontend>
    <global>
        <models>
            <brand>
                <class>Hp_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Hp_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_resource>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>Hp_Brand</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>Hp_Brand_Block</class>
            </brand>
            <!-- <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_attributes>Hp_Brand_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                </rewrite>
            </adminhtml> -->
        </blocks>
        <helpers>
           <brand>
                  <class>Hp_brand_Helper</class>
            </brand>
        </helpers>
    </global>
    <admin>
        <routers>
            <Brand>
                <use>admin</use>
                <args>
                    <module>Hp_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </Brand>
        </routers>
    </admin>
</config>