<config>
    <modules>
        <Hp_ProductIdx>    
            <version>0.1.1</version>
        </Hp_ProductIdx>
    </modules>
    <frontend>
    </frontend>
    <global>
        <models>
            <productidx>
                <class>Hp_ProductIdx_Model</class>
                <resourceModel>productidx_resource</resourceModel>
            </productidx>
            <productidx_resource>
                <class>Hp_ProductIdx_Model_Resource</class>
                <deprecatedNode>productidx_mysql4</deprecatedNode>
                <entities>
                    <productidx>
                        <table>import_product_idx</table>
                    </productidx>
                </entities>
            </productidx_resource>
        </models>
        <resources>
            <productidx_setup>
                <setup>
                    <module>Hp_ProductIdx</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productidx_setup>
            <productidx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productidx_write>
            <productidx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productidx_read>
        </resources>
        <blocks>
            <productidx>
                <class>Hp_ProductIdx_Block</class>
            </productidx>
        </blocks>
        <helpers>
           <productidx>
                  <class>Hp_productidx_Helper</class>
            </productidx>
        </helpers>
    </global>
    <admin>
        <routers>
            <ProductIdx>
                <use>admin</use>
                <args>
                    <module>Hp_ProductIdx</module>
                    <frontName>productidx</frontName>
                </args>
            </ProductIdx>
        </routers>
    </admin>
</config>