<config>
    <modules>
        <HarshP_Harsh>    
            <version>1.0.1</version>
        </HarshP_Harsh>
    </modules>
    <global>
        <models>
            <harsh>
                <class>HarshP_Harsh_Model</class>
                <resourceModel>harsh_resource</resourceModel>
            </harsh>
            <harsh_resource>
                <class>HarshP_Harsh_Model_Resource</class>
                <deprecatedNode>harsh_mysql4</deprecatedNode>
                <entities>
                    <harsh>
                        <table>harsh</table>
                    </harsh>
                </entities>
            </harsh_resource>
        </models>
        <resources>
            <harsh_setup>
                <setup>
                    <module>HarshP_Harsh</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </harsh_setup>
            <harsh_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </harsh_write>
            <harsh_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </harsh_read>
        </resources>
        <blocks>
            <harsh>
                <class>HarshP_harsh_Block</class>
            </harsh>
        </blocks>
        <helpers>
           <harsh>
                  <class>HarshP_harsh_Helper</class>
            </harsh>
        </helpers>
    </global>
    <admin>
        <routers>
            <Harsh>
                <use>admin</use>
                <args>
                    <module>HarshP_Harsh</module>
                    <frontName>harsh</frontName>
                </args>
            </Harsh>
        </routers>
    </admin>
</config>