<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_HarshEav>
			<version>0.0.3</version>
		</Ccc_HarshEav>
	</modules>
	<global>
		<blocks>
			<harsheav>
				<class>Ccc_HarshEav_Block</class>
			</harsheav>
		</blocks>
		<helpers>
			<harsheav>
				<class>Ccc_HarshEav_Helper</class>
			</harsheav>
		</helpers>
		<models>
			<harsheav>
				<class>Ccc_HarshEav_Model</class>
				<resourceModel>harsheav_resource</resourceModel>
			</harsheav>
			<harsheav_resource>
				<class>Ccc_HarshEav_Model_Resource</class>
				<entities>
	                <harsheav>
	                    <table>harsheav</table>
	                </harsheav>
	                <harsheav_datetime>
	                	<table>harsheav_datetime</table>
		            </harsheav_datetime>
		            <harsheav_decimal>
		                <table>harsheav_decimal</table>
		            </harsheav_decimal>
		            <harsheav_int>
		                <table>harsheav_int</table>
		            </harsheav_int>
		            <harsheav_text>
		                <table>harsheav_text</table>
		            </harsheav_text>
		            <harsheav_varchar>
		                <table>harsheav_varchar</table>
		            </harsheav_varchar>
		            <harsheav_char>
		                <table>harsheav_char</table>
		            </harsheav_char>
		            <eav_attribute>
                        <table>harsheav_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</harsheav_resource>
		</models>
		<resources>
			<harsheav_setup>
				<setup>
					<module>Ccc_HarshEav</module>
					<class>Ccc_HarshEav_Model_Resource_Setup</class>
				</setup>
			</harsheav_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<harsheav>
				<title>HarshEav</title>
				<sort_order>120</sort_order>
				<children>
					<harsheav>
						<title>Manage HarshEav</title>
						<sort_order>100</sort_order>
						<action>harsheav/Adminhtml_HarshEav</action>
					</harsheav>
					<harsheav_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>harsheav/Adminhtml_HarshEav_Attribute</action>
					</harsheav_attribute>
					<harsheav_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>harsheav/Adminhtml_HarshEav_Set</action>
					</harsheav_set>
				</children>
			</harsheav>
		</menu>
		<layout>
			<updates>
				<harsheav>
					<file>harsheav.xml</file>
				</harsheav>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<harsheav>
				<use>admin</use>
				<args>
					<module>Ccc_HarshEav</module>
					<frontName>harsheav</frontName>
				</args>
			</harsheav>
		</routers>
	</admin>
</config>